body {
	margin: 0;
	background-color: rgba(255, 255, 255, 0.541);
}


header {
	height: 50px;
	width: 100%;
	background-color: rgb(17, 199, 255);
}



header ul {
	margin: 0;
	list-style: none;
}

header li {
	float: left;
	margin: 0 auto;
}

.header-content {
	text-decoration: none;
	color: #ffffff;
	line-height: 50px;
	width: 130px;
	margin: 0 2px;
	text-align: center;
	display: block;
	background-color: rgb(94, 218, 255);
}

.header-content:hover {
	background: linear-gradient(rgb(57, 209, 255), rgba(0, 255, 34, 0.541));
}

/*ここから中身*/
/*動画部分*/
.mv-wrap {
	position: relative;
	height: 100%;
}

.mv-bg {
	/*動画暗くする用れいやー*/
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 30, 30, 0.3);
	z-index: 2;
}

.video-wrap {
	width: 100%;
	max-height: 800px;
	overflow-y: hidden;
}

video {
	display: block;
	width: 100%;
}

/*動画上の文字とかいれるとこ*/
.mv-overbox {
	width: 90%;
	height: 23vw;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 3;
	margin: auto;
	color: #fff;
}

.mvbox-title {
	font-size: 8vw;
	margin: 0;
}

.mvbox-icon {
	height: 15vw;
	float: left;
}

.mv-icon-right {
	float: left;
	margin: 2vw 4vw;
}

.mvbox-txt {
	font-size: 2.5vw;
	margin: 0 0 1vw 0;
}

.icon-box {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.5);
	height: 5vw;
	border-radius: 1vw;
}

.icon-box p {
	float: left;
	text-align: center;
	font-size: 2vw;
	line-height: 5vw;
	margin: 0;
	margin-left: 1vw;
}

.sns-icon {
	height: 4vw;
	margin: 0.5vw;
	float: left;
}

.sns-icon:hover {
	filter: drop-shadow(0 0 10px #000000);
}

footer {
	height: 80px;
	width: 100%;
	background-color: rgb(94, 218, 255);
}