.input-p {
	text-align: center;
}

#input-r {
	width: 60px;
}

.canvas-wrap {
	white-space: nowrap;
	overflow: auto;
	margin-bottom: 30px;
}

#out-canvas {
	display: block;
	background-color: white;
	margin: auto;
	border: solid;
	border-color: rgb(17, 199, 255);
}