h2 {
	margin-bottom: 0px;
}

p {
	margin-top: 0px;
}

.image-container {
	display: flex;
	justify-content: center;
}

.content-left {
	margin-right: 5px;
	flex-basis: 46%;
}

#image-input {
	margin: 1px auto;

}

#image-preview {
	display: block;
	width: 100%;
	height: auto;
	border: 1px solid red;
	image-rendering: pixelated;
}

.content-right {
	flex-basis: 46%;
}

.content-right p {
	text-align: center;
	margin-bottom: 2px;
	font-size: large;
}

#download-a {
	display: contents;
}

#raster {
	display: block;
	width: 100%;
	background-color: white;
	border: 1px solid red;
}